.calculator {
    color: $white;
    background-color: #181818;
    position: relative;

    &__wrap {
        padding-top: 100px;
        padding-bottom: 10px;
        position: relative;
    }

    &__title {
        margin: 0 0 20px 0;
        font-size: px-to-rem(32px);
        line-height: px-to-rem(37px);
        font-weight: 700;
        color: $primary;
        text-align: center;
    }

    &__img {
        margin: 24px auto 30px;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@media (min-width: 1024px) {
    .calculator {
        
        &__title {
            padding-left: 465px;
            text-align: left;
        }

        &__img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(calc(-50% + 25px));
        }

        &__form {
            margin-left: 350px;
            padding-top: 5px;
            padding-bottom: 25px;
            padding-left: 215px;
        }
    }
}