*
    box-sizing: border-box
a
    text-decoration: none

ul, li
    margin: 0
    padding: 0
    list-style: none
    
html
    font-style: 16px
    
body
    color: $black
    font-family: 'Roboto', sans-serif
    overflow-wrap: break-word
    word-wrap: break-word

.container
    @include min-max(320px, 100%, 0)

.wrap
    @include min-max(320px, 1140px, 15px)