$primary: #4AF6CD;
$primary-hover: #0bb48d;
$black: #000;
$white: #fff;

$gradient: linear-gradient(180deg, rgba(0,0,0, .5) 0%, rgba(255,255,255, 0) 48.62%,  rgba(0,0,0, .5) 100%),  rgba(24,24,24, .8);